<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>What is your favorite movie?</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
  </head>
  <body>
    <div class="container">
      <nav class="navbar navbar-light" style="background-color: #e3f2fd;">
        <div class="container-fluid">
          <span class="navbar-brand mb-0 h1">Movierec</span>
        </div>
      </nav>
      <br>
      <form action = "https://recmovie-api.herokuapp.com/movie" method = "POST">
         <!-- <p><input type = "submit" value = "submit" /></p> -->
         <div class="mb-3">
          <label for="exampleInputEmail1" class="form-label"><h4>Movie Recommendation System.</h4> <br>The model uses <b>Content Based Recommendations</b> to find similar movies.</br></label>
          <input class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" type = "text" name = "title" placeholder="Enter a full movie name">
          <div id="emailHelp" class="form-text"></div>
        </div>
        <button type="submit" class="btn btn-primary" value="submit">Submit</button>
      </form>
    </div>
  </body>
</html>
