<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Movie Recommendation</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
  </head>
  <body>
    <div class="container">
      <nav class="navbar navbar-light" style="background-color: #e3f2fd;">
        <div class="container-fluid">
          <span class="navbar-brand mb-0 h1">Movierec</span>
        </div>
      </nav>
      <br>
      <table class="table table-striped table-hover">
        <thead>
          <tr>
            <th scope="col">Recommended movies</th>
          </tr>
        </thead>
        <tbody>
          {% for each in list %}
          <tr>
            <td>{{ each.Name }}</td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
      <!-- {{ list }} -->
      <!-- {% for each in list %}
      <h4>{{ each.Name }}</h4>
      {% endfor %} -->
    </div>
  </body>
</html>
